/* Fonte e cor de fundo */
body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4);
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo do header */
header {
    background: linear-gradient(45deg, #ff5858, #f09819);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilo do título e subtítulo com nova fonte */
.header-content h1 {
    font-family: 'Abril Fatface', cursive; /* Nova fonte para o título */
    font-size: 3.5em;
    margin: 10px 0 0;
}

.header-content p {
    font-family: 'Lobster', cursive; /* Nova fonte para o subtítulo */
    font-size: 1.5em;
    margin: 5px 0 0;
}

/* Menu de navegação */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilo das seções */
main {
    padding: 40px 20px;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilo da imagem com novo formato (circular) */
.profile-img {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
    border-radius: 100%; /* Formato circular */
    opacity: 0.9;
    transition: opacity 0.3s ease;
    border: 5px solid #fff; /* Adiciona uma borda branca à imagem */
}

.profile-img:hover {
    opacity: 1;
}

.text-content {
    flex: 2;
    max-width: 600px;
}

/* Estilo do iframe */
iframe {
    width: 100%;
    max-width: 600px;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
}

/* Estilo do footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
